<!DOCTYPE html>
<html lang="en">
<style>
@media print {
.pagebreak { page-break-before: always; } /* page-break-after works, as well */
.pagenotbreak {page-break-inside: avoid}
}
.npc-line {
    width: 100%; clear: both;
}
.npc-header {
    background-color: black; color: white; -webkit-print-color-adjust: exact;
}
.attr-header {
    background-color: lightgray; -webkit-print-color-adjust: exact;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>{{ object.short_description }}</title>
</head>
<body>

<div class="pagenotbreak" style="width: 1000px; font-size: large">
{% for combatant in object.roll_initiative %}
    <div class="pagenotbreak"  style="clear: left">
    <div class="npc-line">
        <div style="float: left; width: 5%"><span><b>{{ forloop.counter }}</b></span></div>
        <div style="float: left; width: 85%"><span><b>{{ combatant.0 }}</b></span></div>
        <div style="float: right; width: 10%"><span style="float: right">{{ combatant.1 }} </span></div>
    </div>
    <br><hr>
    </div>
{% endfor %}
</div>


</body>
</html>