{% extends "base/npc_base.html" %}

{% block feats_section %}
    {% for feat in object.feats_calculated %}
    <div class="npc-line passive" title="{{ feat.description }}">
        <span><b>{{ feat.name }} ({{ feat.category }})</b></span>
    </div>
    {% endfor %}
{% endblock %}
{% block powers_section %}
    {% for power in object.powers_calculated %}
    <div class="npc-line {{ power.frequency_css_class }}" {% if power.description %}title="{{ power.description }}"{% endif %}>
        {% if power.id %}<a href="{% url 'npc_power' pk=object.pk power_pk=power.id %}" style="text-decoration:none; color:inherit">{% endif %}
        <span><b>{{ power.name }} ({{ power.category }})</b> {{ power.keywords }}</span>
        {% if power.id %}</a>{% endif %}
    </div>
    {% for property in power.properties %}
    <div><i>{{ property.title }}</i>: {{ property.description|linebreaksbr }}</div>
    {% endfor %}
    {% endfor %}
{% endblock %}