<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NPC</title>
</head>
<body>
    <table>
        <tr>
            <td>Имя</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>Раса</td>
            <td>{{ object.race }}</td>
        </tr>
        <tr>
            <td>Класс</td>
            <td>{{ object.klass }}</td>
        </tr>
        <tr>
            <td>Пол</td>
            <td>{{ object.get_sex_display }}</td>
        </tr>
        <tr>
            <td>Уровень</td>
            <td>{{ object.level }}</td>
        </tr>
    </table>
    <hr/>
    <table border="1">
        <tr>
        <td>
        <table>
            <tr>
                <td>Сила</td>
                <td>{{ object.strength }}</td>
            </tr>
            <tr>
                <td>Телосложение</td>
                <td>{{ object.constitution }}</td>
            </tr>
            <tr>
                <td>Ловкость</td>
                <td>{{ object.dexterity }}</td>
            </tr>
            <tr>
                <td>Интеллект</td>
                <td>{{ object.intelligence }}</td>
            </tr>
            <tr>
                <td>Мудрость</td>
                <td>{{ object.wisdom }}</td>
            </tr>
            <tr>
                <td>Харизма</td>
                <td>{{ object.charisma }}</td>
            </tr>
        </table>
        </td>

        <td>
        <table>
             <tr>
                <td>КД</td>
                <td>{{ object.armor_class }}</td>
            </tr>
            <tr>
                <td>Стойкость</td>
                <td>{{ object.fortitude }}</td>
            </tr>
            <tr>
                <td>Реакция</td>
                <td>{{ object.reflex }}</td>
            </tr>
            <tr>
                <td>Воля</td>
                <td>{{ object.will }}</td>
            </tr>

        </table>
        </td>
        <td>
        <table>
            <tr>
                <td>ХП</td>
                <td>{{ object.max_hit_points }}</td>
            </tr>
            <tr>
                <td>Ранен</td>
                <td>{{ object.bloodied }}</td>
            </tr>
            <tr>
                <td>Исцеление</td>
                <td>{{ object.surge }}</td>
            </tr>
            <tr>
                <td>Исцелений</td>
                <td>{{ object.surges }}</td>
            </tr>
            <tr>
                <td>Пассивная внимательность</td>
                <td>{{ object.insight|add:10}}</td>
            </tr>
            <tr>
                <td>Пассивная проницательность</td>
                <td>{{ object.perception|add:10 }}</td>
            </tr>
            <tr>
                <td>Инициатива</td>
                <td>{{ object.initiative }}</td>
            </tr>
        </table>
        </td>

        </tr>
    </table>
    <table border="1">
        <tr>
            <th>Характеристика</th>
            <th>Оружие</th>
            <th>Бонус атаки</th>
            <th>Урон</th>
        </tr>
        {% for item in object.attacks %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
                <td>{{ item.2 }}</td>
                <td>{{ item.3 }}</td>
            </tr>
        {% endfor %}
    </table>
    <hr/>
    <table>
        <tr>
            <th>Навык</th>
            <th>Значение</th>
        </tr>
        {% for item in skills %}
        <tr>
            <td>
                {{ item.0 }}
            </td>
            <td>
                {{ item.1 }}
            </td>
        </tr>
        {% endfor %}
        
    </table>

</body>
</html>