{% extends "base/npc_base.html" %}

{% block powers_section %}
    {% for power in powers %}
    <div class="npc-line {{ power.frequency_css_class }}">
        <span><b>{{ power.name }} ({{ power.category }})</b> {{ power.keywords }}<br></span>
        {% if power.description %}<span><i>{{ power.description }}</i></span>{% endif %}
    </div>
    {% for property in power.properties %}
    <div><i>{{ property.title }}</i>: {{ property.description|linebreaksbr }}</div>
    {% endfor %}
    {% endfor %}
{% endblock %}