<!DOCTYPE html>
<html lang="en">
<style>
line {
    width: 100%; clear: both;
}
.item {
    background-color: orange; color: white; -webkit-print-color-adjust: exact;
}
.at_will {
    background-color: green; color: white; -webkit-print-color-adjust: exact;
}
.encounter {
    background-color: red; color: white; -webkit-print-color-adjust: exact;
}
.dayly {
    background-color: black; color: white; -webkit-print-color-adjust: exact;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>{{ object.name }}</title>
</head>
<body>
<div style="width: 500px; font-size: large">
    <div align="left" class="{{ object.type | lower }}">
        <div><span><b>{{ object.name }}</b></span></div>
    </div>
    {% for item in object.items.all %}
    <div>
        {% if item.title %}
        <span><b>{{ item.title }}:</b></span>
        {% endif %}
        <span>{{ item.description }}</span>
    </div>
    {% endfor %}
</div>
</body>
</html>