<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Генераторы всего</title>
</head>
<body>
    <div align="center">
        <h1>
        <a href="{{ npc_url }}">Генерация NPC</a>
        </h1>
        <h1>
        <a href="{{ tavern_url }}">Генерация таверн</a>
        </h1>
        <h1>
        <a href="{{ fantasy_name_url }}">Генерация имён 1</a>
        </h1>
        <h1>
        <a href="{{ random_name_url }}">Генерация имён 2</a>
        </h1>

    </div>
</body>
</html>